<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.android.packager.launchConfigurationType">
<booleanAttribute key="ATTR_MINIFY" value="true"/>
<stringAttribute key="ATTR_PROJECT_NAME" value="yontakuAnimal"/>
<stringAttribute key="abi" value="armeabi"/>
<stringAttribute key="distribute_path" value="/Users/kokucy/Documents/Titanium_Studio_Workspace/android_apk"/>
<stringAttribute key="keystore_alias" value="yontakuAnimal"/>
<stringAttribute key="keystore_password" value="100manen"/>
<stringAttribute key="keystore_path" value="/Users/kokucy/Documents/Titanium_Studio_Workspace/yontakuAnimal/Resources/android/yontakuAnimal.keystore"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/yontakuAnimal"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.capture_output" value="true"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="true"/>
<stringAttribute key="process_factory_id" value="com.appcelerator.titanium.mobile.ui.androidLogLevelFilteringProcessFactory"/>
<stringAttribute key="recent_output" value="/Users/kokucy/Documents/Titanium_Studio_Workspace/android_apk"/>
<stringAttribute key="sdk_version" value="2.3.3"/>
</launchConfiguration>
