<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.ios.installer.launchConfigurationType">
<booleanAttribute key="ATTR_MINIFY" value="true"/>
<stringAttribute key="ATTR_PROJECT_NAME" value="Kitchen Sink"/>
<stringAttribute key="ATTR_TITANIUM_DEPLOY_TYPE" value="development"/>
<stringAttribute key="appid" value="jp.kokucy.kitchensink"/>
<stringAttribute key="certificate" value="YUKIKO NAGAOKA (58XTJTH9M5)"/>
<stringAttribute key="debug_config" value="::1382128859898:192.168.0.9,192.168.0.8"/>
<stringAttribute key="debug_hosts" value="192.168.0.9,192.168.0.8"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Kitchen Sink"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.capture_output" value="true"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="true"/>
<stringAttribute key="process_factory_id" value="com.appcelerator.titanium.ui.logLevelFilteringProcessFactory"/>
<stringAttribute key="sdk_version" value="7.0"/>
<stringAttribute key="uuid" value="E03F6213-E5BB-4883-9DEA-48CF95A1F1C3"/>
</launchConfiguration>
