<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.ios.installer.launchConfigurationType">
<booleanAttribute key="ATTR_MINIFY" value="true"/>
<stringAttribute key="ATTR_PROJECT_NAME" value="inappproducts"/>
<stringAttribute key="ATTR_TITANIUM_DEPLOY_TYPE" value="development"/>
<stringAttribute key="appid" value="com.kokucy.inappproducts"/>
<stringAttribute key="certificate" value="YUKIKO NAGAOKA (DFL8A95U39)"/>
<stringAttribute key="debug_config" value="::1392801633774:192.168.0.3"/>
<stringAttribute key="debug_hosts" value="192.168.0.3"/>
<stringAttribute key="device_id" value="d90b656cc46a53e682e0f3d37fb3855f527ac2e7"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/inappproducts"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.capture_output" value="true"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="true"/>
<stringAttribute key="process_factory_id" value="com.appcelerator.titanium.ui.logLevelFilteringProcessFactory"/>
<stringAttribute key="sdk_version" value="7.0"/>
<stringAttribute key="uuid" value="65036F6E-3905-420D-88BF-23DA4596E592"/>
</launchConfiguration>
